#!/bin/bash

### SERVER ###
export WEB_SERVER_NAME=${WEB_SERVER_NAME}
export APP_SERVER_NAME=${APP_SERVER_NAME}
export ALL_DOMAINS="${ALL_DOMAINS}"
export ADMIN_EMAIL=${ADMIN_EMAIL}
export RSA_KEY_SIZ=${RSA_KEY_SIZ}
